/************************************************************************************* 
* Authors: Craig Bell, Philip Godkin, Ying Godkin, Kristan Johnson
* Assignment: Web Design Project, National College of Ireland, 2019.
* Date: 2019/03/23
**************************************************************************************/

/*Large Desktop screens*/
@media only screen and (max-width: 1920px){
	/*Body*/
	body {
	   margin: 0;
	   padding: 0;
	}
	html, body{
	  height: 100%;
	}

	/*Content*/

	.col-1 {
	  grid-column-start: 1;
	}
	.col-2 {
	  grid-column-start: 2;
	}
	.col-3 {
	  grid-column-start: 3;
	}

	/*Navigation*/
	#top_nav{
		display: flex;
		width: 100%;
		height:220px;
		padding-top:2%;
		background-color: #E6E6E6; /*Originally #eee*/
		align-items: center;
		justify-content: center;
		font-family: 'Lato', Arial, sans-serif;
		font-weight:700;
	}

	#top_nav ul{
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	}
	#top_nav li {
	  float: left;
	}
	#top_nav li a {
	  display: inline;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}
	/*_Dropdown-Nav*/
	/*_Ref: https://css-tricks.com/solved-with-css-dropdown-menus/ */
	#top_nav a:hover, a:active { 
		color:white; 
	}
	#top_nav ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	#top_nav li {
		color: #fff;
		display: block;
		float: left;
		padding: 1rem;
		position: relative;
		text-decoration: none;
	  transition-duration: 0.5s;
	}
	#top_nav li:hover,
	#top_nav li:focus-within {
		background: red;
		cursor: pointer;
	}

	#top_nav li:focus-within a {
	  outline: none;
	}

	#top_nav ul li ul {
		visibility: hidden;
		opacity: 0;
		min-width: 5rem;
		position: absolute;
		transition: all 0.5s ease;
		margin-top: 1rem;
		left: 0;
		display: none;
	}

	#top_nav ul li:hover > #top_nav ul,
	#top_nav ul li:focus-within >  #top_nav ul,
	#top_nav ul li ul:hover,
	#top_nav ul li ul:focus {
	   visibility: visible;
	   opacity: 1;
	   display: block;
	}

	#top_nav ul li ul li {
		clear: both;
	  width: 100%;
	}
	/*_Navigation Logo*/
	#logo{
		margin:0;
		padding:0;
		width: 280px;
	}
	#logo_img {
		display: inline-block;
		vertical-align: top;
		width: 260px;
		height: 100%;
		margin-left: 1%;
		margin-right: 1%;
		float:left;
		line-height:12px;
	}
	#logo_text{
		color:black;
		float: left;
		font-family:"Copasetic NF";
		margin-top:0;
		margin-bottom:0;
		font-size: 240%;
		line-height:50px;
	}
	 

	/*Font*/
	/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
	@font-face { 
		font-family:"Copasetic NF";
		src:url("fonts/Copasetic_NF.eot") format("eot"),
		url("fonts/Copasetic_NF.woff") format("woff"),
		url("fonts/Copasetic_NF.ttf") format("truetype"),
		url("fonts/Copasetic_NF.svg#CopaseticNF") format("svg");
		font-weight:normal;
		font-style:normal;
	}

	/*Footer*/
	footer{
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100px;
		color: black;
		background-color: #E6E6E6; /*Originally #eee*/
	}
	/*Reference here: https://stackoverflow.com/questions/4675371/vertical-divider-css*/
	.headerDivider1 {
		 border-left:1px solid #494949; 
		 border-right:1px solid #16222c; 
		 height:80px;
		 margin:10px 0 10px 0;
		 float: left;
	}
	.headerDivider2 {
		 border-left:1px solid #494949; 
		 border-right:1px solid #16222c; 
		 height:80px;
		 margin:10px 0 10px 0;
		 float:left;
	}

	/*_Sticky Footer*/
	/*Ref:https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
	.site {
	  display: flex;
	  min-height: 100vh;
	  flex-direction: column;
	}
	.site-content {
		display: grid;
		flex: 1 0 auto; /* 2 */
		padding: var(--space) var(--space) 0;
		background: #F5842E;  
		text-align:center;
		border-color:#B85B14;
		border-style: solid;
		margin-left:20%;
		margin-right:20%;
		grid-template-rows: 20% 60% 20%;
	}
	/*_Footer Wrapper*/
	.footer_wrapper {
		display:grid;
		min-height: 100%;
		margin-left: 20%;
		margin-right: 20%;
		grid-template-rows: 20% 60% 20%;
		background: #F5842E;  /*Old f29107*/
		font-family: 'Lato', Arial, sans-serif;
		font-weight:700;
		height:100%;
		color:#353535;
		text-align:center;
		border-color:#B85B14;
		border-style: solid;
	}
	.footer_wrapper a:visited { 
		text-decoration: none; 
		color:#353535; 
	}
	.footer_wrapper a:hover, a:active { 
		text-decoration: none; 
		color:red; 
	}
	.footer_wrapper a { 
		color:#353535; 
		text-decoration: none;
	}
	.footer_content{
		text-align:center;
	}
	/*ContactPage Css*/

	/*_Google Map*/

	/*_Set display preferences for description. */

	#description {
	  margin: 10px 5% 0% 5%;
	  font-family: 'Gotham', 'Montserrat', sans-serif;
	  font-size: 12px;
	  text-align: center;
	  line-height: 1.45em;
	}

	/* Set display preferences for dropdown menu. */

	#dropdown {
	  margin-top: 10px;
	  margin-bottom: 10px;
	  text-align: center;
	}

	select { 
	  height: 25px;
	  width: 150px;
	  font-family: 'Gotham', 'Montserrat', sans-serif;
	  text-align-last: center;
	}

	/* Set display preferences for map. */

	#map {
	  height: 300px;
	}

	/* Hide 'Google Maps API's Terms of Use'. */

	.gmnoprint a,
	.gmnoprint span,
	.gmnoprint.gm-style-cc,
	.gm-style-cc {
	  display: none !important;
	}
	/* Set background color of zoom buttons. */

	.gmnoprint div {
	  background: #EEEEEE !important;
	}

	/*Contact form*/
	@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

	body {
	  font-weight: 400;
	  font-size: 1em;
	  font-family: 'Lato', Arial, sans-serif;
	  margin:0 auto;
	  padding:0;
	  padding-bottom:60px;
	}
	.ccheader {
	  margin: 0 auto;
	  padding: 2em;
	  text-align: center;
	}

	.ccheader h1 {
	  margin: 0;
	  font-weight: 300;
	  font-size: 2.5em;
	  line-height: 1.3;
	}

	/* Form CSS*/
	textarea {
	  resize: none;
	}
	.ccform {
	   margin: 0 auto;
		width: 800px;
	}
	.ccfield-prepend{
	  margin-bottom:10px;
	  width:100%;
	}

	.ccform-addon{
	  color:#f8ae45; 
	  float:left;
	  padding:8px;
	  width:8%;
	  background:#FFFFFF;
	  text-align:center;  
	}

	.ccformfield {
	  color:#000000; 
	  background:#FFFFFF;
	  border:none;
	  padding:15.5px;
	  width:91.9%;
	  display:block;
	  font-family: 'Lato',Arial,sans-serif;
	  font-size:14px;
	}

	.ccformfield {
	  font-family: 'Lato',Arial,sans-serif;
	}
	.ccbtn{
	  display:block;
	  border:none;
	  background:#f8ae45;
	  color:#FFFFFF;
	  padding:12px 25px;
	  cursor:pointer;
	  text-decoration:none;
	  font-weight:bold;
	}
	.ccbtn:hover{
	  background:#d8850e;
	}

	img {
	  height: 32px;
	  width: 32px;
	}

	/* ul {
	  list-style-type: none;
	  margin-left: 0px;
	  padding-left: 0px;
	} */
	/* li {
	  display: inline;
	  margin-right: 10px;
	} */

	.social {
		position: center;
	}

	/*Shop Page*/

	#chalk_board{
		display: grid;
		min-height: 80%;
		width: 80%;
		grid-template-rows: auto 1fr auto;
		text-align:center;
		margin-left:10%;
		margin-top:10%;
		background-image: url("img/slate.jpg");
		background-color: black;
		border-color: white;
		border-style: solid;
	}
	#yummy{
		
	}

	#menu_txt{
		font-family: "kg-noregrets.ketch"; 
		color: white;
		letter-spacing: 2px;
		margin-left: 30px;
		margin-right: 30px;
	}
	@font-face {
		font-family:"kg-noregrets.ketch";
		src:url("fonts/kg-no-regrets.ketch.ttf") format("truetype");
	}

	#menu_icon1{
		height: 150px;
		width: 150px;
	}
	#merchtxt{
		font-family: "lightout";
		letter-spacing: 2px;
		font-weight: bold;
	}
	@font-face{
		font-family:"lightout";
		src:url("fonts/lightout.ttf") format("truetype");
	}

	.merch_menu{
		display: grid;
		min-height: 80%;
		width: 80%;
		grid-template-columns: auto;
		grid-gap:40%;
		
		text-align:center;
		margin-left:10%;
		margin-top:10%;
		margin-bottom:10%;
		background-color: white;
		border-style: solid;
	}

	.merch_items{
		height: 150px;
		width: 150px;
		transform: rotate(90deg);
		
		
	}

	.button{
		margin-bottom:10%;
	}
}

